@import './node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';


$color_royal_purple_approx: red;

.test {
	color: $color_royal_purple_approx;
}
.test2 {
	color: $color_royal_purple_approx;
}
.test4 {
	color: $color_royal_purple_approx;
}
