<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BRAND</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a ng-link="['/Loan-Details']"><span class="glyphicon glyphicon-plus">New Loan</span></a></li>
                <li><a ng-link="['/Loan-Listing']"><span class="glyphicon glyphicon-list-alt">Loan Listing</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-link="['/Login']"><span class="glyphicon glyphicon-user">Welcome <strong>Sumit | </strong></span></a></li>
                <li><a ng-link="['/Login']"><span class="glyphicon glyphicon-off    ">Sign Out</span></a></li>
            </ul>
            </li>
            </ul>
        </div>
    </div>
</nav>
