<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SBLOC Block Chain</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/loan">New Loan</span></a></li>
                <li><a href="#/loanlisting">Loan Listing</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login">Welcome , <strong>User | </strong></a></li>
                <li><a href="#/login">Sign Out</a></li>
            </ul>
            </li>
            </ul>
        </div>
    </div>
</nav>