<uib-accordion close-others="oneAtATime">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <uib-accordion close-others="$ctrl.closeOtherAccordian">
                <div uib-accordion-group class="panel-primary" is-open="$ctrl.openLoanInfoSection">
                    <uib-accordion-heading> Loan Info <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $ctrl.openLoanInfoSection, 'glyphicon-chevron-right': !$ctrl.openLoanInfoSection}"></i>
                    </uib-accordion-heading>
                    <loan-info-comp loan-reasons="$ctrl.loanReasons" open-collateral-accordian ="$ctrl.expandCollateralInfo()"></loan-info-comp>
                </div>
            </uib-accordion>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div uib-accordion-group class="panel-primary" is-open="$ctrl.openCollateralInfoSection" is-disabled="!$ctrl.openCollateralInfoSection">
                <uib-accordion-heading >
                    Collateral Info
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': $ctrl.openCollateralInfoSection, 'glyphicon-chevron-right': !$ctrl.openCollateralInfoSection}"></i>
                </uib-accordion-heading>
                <collateral-info-comp></collateral-info-comp>
            </div>
        </div>
        </div>
</uib-accordion>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <hr>
        <div class="pull-right">
            <button class="btn btn-success">Save</button>
            <button class="btn btn-danger">Send for Consent</button>
        </div>
    </div>
</div>
<br><br><br><br>
