<nav class="navbar navbar-default col-sm-6 col-sm-offset-3">
    <div class="container-fluid">
        <div class="text-center text-muted">
            <h3><b>Please Login</b></h3>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row"></div>
    <div class="col-sm-6 col-sm-offset-3">
        <form class="form-vertical">
            <div class="form-group">
                <label for="email" class="text-center">Email address:</label>
                <input type="email" class="form-control" id="email" placeholder="abc.xyz.com">
            </div>
            <div class="form-group">
                <label for="pwd" class="text-center">Password:</label>
                <p><strong class="text-danger">Must have at least 6 characters</strong></p>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="userRole" class="text-center">Role:</label>
                <select class="form-control" name="userRole" id="userRole">
                    <option value="borrower">Borrower</option>
                    <option value="lender">Lender</option>
                    <option value="advisor">Advisor</option>
                </select>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me</label>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
<br>
<br>
